# ==========================================
# TELEGRAM CONFIGURATION
# ==========================================

# Telegram BotFather থেকে পাওয়া Bot Token
BOT_TOKEN=8509624325:AAH35jOb5bNAT3gwH6GWBr-1f9r73XNKspA

# তোমার নিজের Telegram User ID
# এটি কখনো frontend/API response-এ প্রকাশ করা হবে না
ADMIN_TELEGRAM_ID=7174492749


# ==========================================
# WITHDRAWAL NOTIFICATION
# ==========================================

# যে Private Channel/Group-এ withdrawal message যাবে
WITHDRAWAL_CHAT_ID=https://t.me/+DNxHYAZXliI2ODA0


# ==========================================
# SERVER
# ==========================================

PORT=3000


# ==========================================
# APP SETTINGS
# ==========================================

APP_NAME=Mini Dollar Earn
APP_CURRENCY=USD

MINIMUM_WITHDRAWAL=10

ADSGRAM_DAILY_LIMIT=15
MONETAG_DAILY_LIMIT=10

AD_COOLDOWN_SECONDS=3

ADS_REWARD=0.20


# ==========================================
# REFERRAL
# ==========================================

REFERRAL_REWARD=0.50
